*{
  margin: 0;
  box-sizing: border-box;
}

#add-btn{
  padding: 5px 10px;
  border: 0;
  background: #f80; color:white;
  border-radius: 5px;
}

ul{
  padding: 0;
  list-style-position: inside;
}

li{
  border-bottom: 1px solid #999;
  padding: 5px 0;
}

.active{
  background: #abc;
}
